spring:
  application:
    name: source-downloader
  main:
    banner-mode: off
    allow-bean-definition-overriding: true
  datasource:
    username: sd
    password: sd
    url: jdbc:sqlite:${source-downloader.data-location}source-downloader.db
    #driver-class-name: org.h2.Driver
    driver-class-name: org.sqlite.JDBC
  jpa:
    open-in-view: false
    database-platform: org.hibernate.community.dialect.SQLiteDialect
    hibernate:
      ddl-auto: none
  flyway:
    locations:
      - classpath:/db/migration
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}

source-downloader:
  data-location: ${SOURCE_DOWNLOADER_DATA_LOCATION:./}
---
spring:
  config:
    activate:
      on-profile: debug
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
  jpa:
    show-sql: true
    properties:
      hibernate.format_sql: true

logging:
  level:
    telegram4j: debug
    reactor: debug
    xyz.shoaky.sourcedownloader: debug
    org.hibernate.orm.jdbc.bind: trace

---
spring:
  config:
    activate:
      on-profile:
        - integration-test
  datasource:
    # FIXME Windows下会错误
    url: jdbc:sqlite:test.db

source-downloader:
  data-location: src/test/resources

---
spring:
  config:
    activate:
      on-profile:
        - production
        - debug
logging:
  file:
    name: ${source-downloader.data-location}logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-history: 2
      max-file-size: 100MB